.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 158px;
    /* height: 40px; */
    transition: 0.3s;
}
.navbar .logo:hover{
    transform: scale(1.1);
}

.navbar-menu{
    font-weight:480;  /*here */
    display: flex;
    list-style: none;
    gap: 30px;          /*here */
    color: #49557e;
    font-size: 20px;  /*here */
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 2px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;  /*Background color changes smoothly on hover*/
}

.navbar button:hover{
    background-color: #fff4f2;  /*#fff4f2*/
}


.navbar .active{  /*Which window is active now*/
    font-weight: 400;
    /* font-family: sans-serif; */
    color: rgb(136, 39, 39);
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(136, 39, 39);
}

.navbar li{
    cursor: pointer;
}

/*Whenever we add a product in the basket that dot will be visible when basket is empty dot is hidden*/

.navbar-right .navbar-search-icon{
    position: relative;
}

.navbar-right .navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(10, 185, 10);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile{
    position: relative;
}

.navbar-profile-dropdown{
    position: absolute;
    display: none;                  /*hiding display without hover*/
    right: 0;
    z-index: 1;
}

/*Creating Dropdown menu when hovered in profile icon*/
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 11px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-profile-dropdown img{
    width: 22px;
}

.navbar-profile-dropdown li:hover{
    color: tomato;
}



/*COMPLETE*/

@media (max-width:1050px)
{
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px)
{
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px)
{
    .navbar-menu{
        display: none;
    }
}