
.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;   /*The last 2 digits (7th and 8th) shows that color will be how much transparent 00:Fully transparent FF:Fully opaque*/
    display: grid;
}

.login-popup-container{
    place-self: center;
    width: max(25vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 25px 30px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 14px;
    animation: fadeIn 0.5s;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.6);
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 25px;
}

.login-popup-title img{
    width: 18px;
    cursor: pointer;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 11px;
    border-radius: 5px;
}

.login-popup-container button{
    border: none;
    padding: 12px;
    border-radius: 7px;
    color: white;
    background-color: rgb(200, 64, 5);
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.login-popup-container button:hover{
    transform: scale(1.02);
    background-color: rgb(205, 60, 60);
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input{
    margin-top: 5px;
}

.login-popup p span{
    color: red;
    cursor: pointer;
    font-weight: 550;
    margin-left: 7px;
}
